<html>
  <head>
    <link href="static/css/foghorn.css" rel="stylesheet"></link>
    {% block head %}
    <title>{% block title %}{{ title }}{% endblock %} - {{ site.title }}</title>
    {% endblock %}
  </head>
  <body>
    {% block nav %}{% endblock %}
    {% block body %}{% endblock %}
    <footer>
      &copy; Kevin Maris 2016 | Find me on <a href="https://github.com/kmaris">Github</a>
    </footer>
    </body>
</html>

