{% extends "base.html" %}

{% block nav %}
  {% include 'nav.html' %}
{% endblock %}

{% block body %}
  <h1>{{ title }}</h1>
  <h5>By {{ author }}</h3>
  <section id="content">
    {% block content %}{{ content }}{% endblock %}
  </section>
{% endblock %}
